.container{
    text-align: center;
    display: block;
    background-image: url(/images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    padding-top: 150px;
    color: azure;
}
.container>h1{
    font-weight: 700;
    font-size: 70px;
    color: azure;
    text-align: center;
}
.btn-primary{
    background: brown;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 15px;
    margin: 5px;
    color: aliceblue;

}
/* section styles */

.donate{
    text-align: center;
    height: 400px;
    display:block;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(109, 103, 103, 0.748);
    padding: 60px 355px;
}
.donate >h2{
text-align: center;
font-weight: 700;
font-size: 50px;
color: black;
}
.donate>ul{
 
    display: flex;
    padding: 8px 5px;
    margin:40px 15px ;
}
.lists>li{
    text-decoration: none;
    text-size-adjust: bold;
    font-weight: 500;
    font-size: 30px;
    padding: 36px 15px;
    margin:10px ;
    border: 1px solid white;
    border-radius: 4px;
    flex-direction: row;
    list-style-type: none;
    background-position: sticky;
}
.btn-second{
    padding: 15px;
    margin: 20px;
    border: 1px solid gray;
    background: red;
    color: azure;
    border-radius: 5px;
}
.lists>li:hover{
    background-color: rgba(240, 148, 115, 0.668);
   
    
}
/* donate plan section style */
.heading{
    display: flex;
    padding: 100px 375px;
    margin:0 auto;
    text-align: center;
}
.heading .title{
    font-weight: 700;
    font-size: 45px;

}
.item{
    display: flex;
    margin: 35px 15px;
    padding: 30px 19px;
    text-align: center;
    height: 450px;
    
}
.box1{
    background-color: aquamarine;
    margin: 29px 20px;
    padding: 23px 56px;
    border-radius: 5px;
}
.box2{
    background-color: antiquewhite;
    margin: 29px 20px;
    padding: 23px 56px;
    border-radius: 5px;
}
.box3{
    background-color:darksalmon;
    margin: 29px 20px;
    padding: 23px 50px;
    border-radius: 5px;
    
}
/* depends on donation */

.flex{
    display: flex;
    position: left;
    /* border: 2px solid gray; */
    
    height: 400px;
    margin: 34px 44px;
    padding: 24px 56px;
}
.flex>div>p{
    color: darkgray;
   justify-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
   font-size: 20px;
}
.flex .lives{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
.btn{
    background-color: brown;
    border-radius: 6px;
    padding: 12px 18px;
    margin: 15px 10px;
}
.new-update{
    justify-content: center;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 130px;
    height: auto;
}
.update{
    display: block;
    text-align: center;
    height: 160px;
}
.update>h1{
    font-weight: 700;
    font-size: 45px;
}
.update>p{
    font-weight: 400;
    font-size: 20px;
    color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.label{
    background-color: bisque;
    padding: 34px 50px;
    margin: 123px 253px;
}
.navbar{
    text-align: center;
    background-color: black;
    height: 150px;
    font-family: cursive;
}
.baton{
    color: whitesmoke;
    background-color: brown;
    row-gap: 0;
}
.navbar>h3{
    color: crimson;
    font-weight: 700;
    font-size: 40px;
}
.navbar>p{
    color: azure;
    font-weight: 300;
    font-size: 18px;
}